<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <f ng-app='APPbase' ng-controller='fira'>
        <h3>{{appName}}</h3>
        <form id="newNameForm">
            <span>Add a name</span>
            <input type="text" name="newName" ng-model='strNewName.name'>
            <button type="button" class="btn btn-default" ng-click="addNewName(strNewName)"> + Add</button>
            <button type="button" class="btn btn-default" ng-click="deleteAll()"> - Delete</button>
            <p>{{strNewName.name}}</p>
        </form>
        <table>
            <tr ng-repeat="x in firaList">
              <td>{{ x }}</td>
            </tr>
          </table>
    </div>

<script>
var app = angular.module("APPbase", []);
app.controller( 'fira', function($scope, $http){

    $scope.appName = 'List Firabase Google';

    $scope.getNames = function(){
        $http({
            method : "GET",
            url : "https://fipo-a2bbf.firebaseio.com/.json"
        })
        .then(function(response) {
            $scope.firaList = response.data;
        },
            function(response) {
            $scope.firaList = "Something went wrong";
        });
    }
    $scope.getNames();

    $scope.addNewName = function(){
        $scope.strNewName = [];
        $scope.strNewName.title = 'Hola';
        // $scope.strNewName.name = 'William';
        $scope.strNewName.apelido = 'Carrasquero';
        id = new Date();
        $scope.strNewName.id = id.valueOf();

        $http({
            method : "POST",
            url : "https://fipo-a2bbf.firebaseio.com/.json",
            // data : {}, // limpar tudo
            data : {
                id: $scope.strNewName.id,
                name: $scope.strNewName.name,
                title: $scope.strNewName.title,
                apelido: $scope.strNewName.apelido,
                draft: true
            }
        })
        .then(function(response) {
            $scope.getNames();
        },
            function(response) {
            console.log("Something went wrong")
        });
    }

    $scope.deleteAll = function(){
        $http({
            method : "PUT",
            url : "https://fipo-a2bbf.firebaseio.com/.json",
            data : {}
        })
        .then(function(response) {
            $scope.firaList = [];
        })
    }

});

</script>
</body>
</html>
